:root {

    --color-100: #1D2984;
    --color-200: #B2EB14;
    --color-300: #504AF4;
    --color-400: #FAFAF1;
    --color-500: #AFC5F4;
    --color-600: #000000;
    --letra-100: 'agains_modern_football', agains_modern_football;
    --letra-200: 'Monserrat', Monserrat;
    --letra-300: 'PRIMETIME', PRIMETIME;
    --letra-400: 'Staatliches-Regular', Staatliches-Regular;
}

@font-face {
    font-family: "agains_modern_football";
    src: url(/fonts/against_modern_football.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Staatliches-Regular";
    src: url(/fonts/Staatliches-Regular.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Monserrat";
    src: url(/fonts/Monserrat.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "PRIMETIME";
    src: url(/fonts/PRIMETIME.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {


    background-image: url("/Image/fondo-icon.png");

    background-position: center;

}

.notification-section {
    background-color: #1D2984;
    width: 70%;
    padding: 20px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.colorNotification {
    width: 760px;
    height: 200px;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--color-500);
    background-image: url(/Image/marco-notification.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.notification-title-time {

    display: flex;
    align-items: center;
    gap: 250px;
    width: 682px;
    height: 95px;
}

.content-title {
    font-family: var(--letra-400);
    color: #1D2984;
    font-size: 60px;
}

.content-time {
    font-family: var(--letra-200);
    font-size: 30px;
    color: var(--color-300);
}

.content-notification {
    font-family: var(--letra-200);
    color: white;
    font-size: 25px;
}

.Wrapper-Img-Notification {}

.img-notification-trash {
    width: 80px;
    height: 80px;
    background-image: url(/icons/icon-borrar.png);
    background-size: cover; 
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    
}

.img-notification-trash:hover {
 
    scale: 1.1;
   
}


button {

    background-color: transparent;
    border: none;
}