:root {

    --color-100: #1D2984;
    --color-200: #B2EB14;
    --color-300: #504AF4;
    --color-400: #FAFAF1;
    --color-500: #AFC5F4;
    --color-600: #000000;
    --letra-100: 'agains_modern_football', agains_modern_football;
    --letra-200: 'Monserrat', Monserrat;
    --letra-300: 'PRIMETIME', PRIMETIME;
    --letra-400: 'Staatliches-Regular', Staatliches-Regular;
}

@font-face {
    font-family: "agains_modern_football";
    src: url(/fonts/against_modern_football.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Staatliches-Regular";
    src: url(/fonts/Staatliches-Regular.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Monserrat";
    src: url(/fonts/Monserrat.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "PRIMETIME";
    src: url(/fonts/PRIMETIME.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    
    background-image: url("/Image/fondo-icon.png");

    background-position: center;

}

/*Bienvenidos a mi decimo cuarto shitshow de la semana*/

.general-section-AddFriend{
    display: flex;
    align-items: flex-start;
}

.Invite-AddFriend{
    width: 70%;
    background-color: #B2EB14;
    padding:30px;
}

.Add-email-AddFriend{
    display: flex;
    align-items: center;
}

.subtitle1{
    font-family: var(--letra-100);
    font-size: 45px;
}

.subtitle2{
    font-family: var(--letra-400);
    font-size: 40px;
}

input{
    background-color:#1D2984;
    color: white;
    font-size: 25px;
    border-radius: 20px;
    padding: 5px 10px;
}

.new-email{
    width: 50%;
    font-size: 25px;
}

.btn-SendInvitation-AddFriend{
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    font-family: var(--letra-400);
    font-size: 25px;
    background-color: #504AF4;
    color:#FAFAF1;
}

/*section 2*/

label{
    font-family: var(--letra-400);
    font-size: 50px;
    margin-left: 20px;
    color: #AFC5F4;
}

p{
    font-family: var(--letra-200);
    color: #1D2984;
    margin-left: 20px;
    font-size: 20px;
}

.List-Friends-AddFriend{
    width: 30%;
    background-color: #504AF4;
    min-height: 100vh;
}

.Friend-AddFriend{
    display: flex;
    align-items: center;
    background-color: #FAFAF1;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.imgFriendProf{
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: 5px;
}