:root {

    --color-100: #1D2984;
    --color-200: #B2EB14;
    --color-300: #504AF4;
    --color-400: #FAFAF1;
    --color-500: #AFC5F4;
    --color-600: #000000;
    --letra-100: 'agains_modern_football', agains_modern_football;
    --letra-200: 'Monserrat', Monserrat;
    --letra-300: 'PRIMETIME', PRIMETIME;
    --letra-400: 'Staatliches-Regular', Staatliches-Regular;
}

@font-face {
    font-family: "agains_modern_football";
    src: url(/fonts/against_modern_football.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Staatliches-Regular";
    src: url(/fonts/Staatliches-Regular.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Monserrat";
    src: url(/fonts/Monserrat.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "PRIMETIME";
    src: url(/fonts/PRIMETIME.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-image: url("/Image/fondo-icon.png");

    background-position: center;

}

.form-coupon{
     display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.coupon-section{
    display: flex;
    align-items: center;
    gap: 30px;

    width: 900px;
    padding: 25px 35px;

    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0px 7px 6px rgba(29, 41, 132, 0.5);

    border: 5px solid var(--color-200);
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-coupon {
    display: flex;
    justify-content:center;
   top: 150px; 
   right: 250px; 
   width: 300px; 
   height: 300px; 
   cursor: pointer;
   border-radius: 20px;
}

.img-barraCOD{
    margin-top: 10px;
    width: 400px;
    height: 100px;
    
}

.title-coupon{
    font-family: var(--letra-400);
    font-size: 60px;
    font-weight: bold;
    
}

.content-coupon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;
    font-size: 20px;
    
}

.coupon-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

