:root {

    --color-100: #1D2984;
    --color-200: #B2EB14;
    --color-300: #504AF4;
    --color-400: #FAFAF1;
    --color-500: #AFC5F4;
    --color-600: #000000;
    --letra-100: 'agains_modern_football', agains_modern_football;
    --letra-200: 'Monserrat', Monserrat;
    --letra-300: 'PRIMETIME', PRIMETIME;
    --letra-400: 'Staatliches-Regular', Staatliches-Regular;
}

@font-face {
    font-family: "agains_modern_football";
    src: url(/fonts/against_modern_football.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Staatliches-Regular";
    src: url(/fonts/Staatliches-Regular.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Monserrat";
    src: url(/fonts/Monserrat.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "PRIMETIME";
    src: url(/fonts/PRIMETIME.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    
    background-image: url("/Image/fondo-icon.png");

    background-position: center;

}

.link {
    text-decoration: none;
    color: white;
}

label{
    font-family: var(--letra-400);
    font-size: 40px;
    text-align: center;
    margin: 5px;
}

input{
    background-color: #B2EB14;
    border-radius: 20px;
    padding: 15px 10px;

    width: 540px;
    height: 56px;
    border: none;
    outline: none;
 
    font-size: 30px;
    
}

.Change-prof-title{
    font-family: var(--letra-400);
    color: #1D2984;
    font-size: 70px
}

.edit-profile-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-change-profile{
    display: flex;
    flex-direction: column;
}

.imgProfChange{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 10px solid #B2EB14;
    margin: 30px;
}

.btn-PhotoProf{
     width: 250px;
    height: 98px;
    font-family: var(--letra-400);
    font-size: 40px;
    background-color: var(--color-200);
    border: none;
    border-radius: 100px;
    align-self: center;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-EditProf {
    width: 250px;
    height: 98px;
    font-family: var(--letra-400);
    font-size: 40px;
    background-color: var(--color-100);
    color:white;
    border: none;
    border-radius: 100px;
    align-self: center;
    margin-left: 5px;
    margin-right: 5px;
}

.flexBtn{
    margin-top: 30px;
    margin-bottom: 30px;
}

.edit-profile-section{
    background-color: white;
    box-shadow: 1px 1px 10px #424141;
    border-radius: 20px;
    padding-top: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 400px;
    margin-right: 400px;

}

.fill-chage-profile{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.iEdit{

    font-family: var(--letra-200);
    font-size: 20px;
}