:root {

    --color-100: #1D2984;
    --color-200: #B2EB14;
    --color-300: #504AF4;
    --color-400: #FAFAF1;
    --color-500: #AFC5F4;
    --color-600: #000000;
    --letra-100: 'agains_modern_football', agains_modern_football;
    --letra-200: 'Monserrat', Monserrat;
    --letra-300: 'PRIMETIME', PRIMETIME;
    --letra-400: 'Staatliches-Regular', Staatliches-Regular;
}

@font-face {
    font-family: "agains_modern_football";
    src: url(/fonts/against_modern_football.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Staatliches-Regular";
    src: url(/fonts/Staatliches-Regular.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Monserrat";
    src: url(/fonts/Monserrat.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "PRIMETIME";
    src: url(/fonts/PRIMETIME.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-image: url("/Image/fondo-icon.png");

    background-position: center;

}

.img-top-hd{
}

.img-barraCOD{
    width: 100%;
    height: 100%;
    object-fit: cover;
   margin-bottom: 20px;
}

.titulo-events{
    font-family: var(--letra-400);
    font-size:90px ;
    color: #504AF4;
    margin-left: 30px;
}

.event-content{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.section-event{
   background-color:white;
    border: dashed;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
}

/*ESTE ES EL CHECKBOX*/
.custom-check input {
    display: none;
}

.checkmark {
    width: 60px;
    height: 60px;
    border: 4px solid #5b5be6;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-left: 70px;
}

.checkmark::after {
    content: "";
    position: absolute;
    left: 18px;
    top: 10px;
    width: 15px;
    height: 30px;
    border-right: 4px solid #5b5be6;
    border-bottom: 4px solid #5b5be6;
    transform: rotate(45deg);
    opacity: 0;
    transition: 0.2s ease;
}

.custom-check input:checked + .checkmark::after {
    opacity: 1;
}

/*ESTE ES EL BOOKMARK*/
.bookmark-toggle input {
    display: none;
}

.bookmark-icon {
    width: 50px;
    height: 70px;
    border: 4px solid #5b5be6;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-left: 50px;

    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        50% 75%,
        0 100%
    );

    transition: 0.25s ease;
}

.bookmark-icon::after {
    content: "";
    position: absolute;
    left: 14px;
    top: 12px;
    width: 14px;
    height: 28px;
    border-right: 4px solid #5b5be6;
    border-bottom: 4px solid #5b5be6;
    transform: rotate(45deg);

    opacity: 0;
    transition: 0.2s ease;
}

.bookmark-toggle input:checked + .bookmark-icon {
    background-color: rgba(91,91,230,0.15);
}

.bookmark-toggle input:checked + .bookmark-icon::after {
    opacity: 1;
}

.event{
    color: #B2EB14;
    font-family: var(--letra-400);
    font-size: 35px;
}

.content{
    font-family: var(--letra-200);
    font-size: 20px;
}