:root {

    --color-100: #1D2984;
    --color-200: #B2EB14;
    --color-300: #504AF4;
    --color-400: #FAFAF1;
    --color-500: #AFC5F4;
    --color-600: #000000;
    --letra-100: 'agains_modern_football', agains_modern_football;
    --letra-200: 'Monserrat', Monserrat;
    --letra-300: 'PRIMETIME', PRIMETIME;
    --letra-400: 'Staatliches-Regular', Staatliches-Regular;
}

@font-face {
    font-family: "agains_modern_football";
    src: url(/fonts/against_modern_football.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Staatliches-Regular";
    src: url(/fonts/Staatliches-Regular.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Monserrat";
    src: url(/fonts/Monserrat.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "PRIMETIME";
    src: url(/fonts/PRIMETIME.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    
    background-image: url("/Image/icon-profile.png");

    background-position: center;

}


.wrapperProfile {

    display: flex;
    justify-content: center;
    align-items: center;

}


.flexProf {
    display: flex;
    align-items: center;
    width: 1240px;
    height: 640px;
    box-shadow: 0px 7px 6px rgb(29, 41, 132, 0.5);
    background-color: #FFFFFF;
    border-radius: 50px;
    margin-top: 10px;
}


.imgProf {

    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: 50px;
}


.data {
    display: grid;
    gap: 20px;
}

.lData {
    font-family: var(--letra-400);
    font-weight: bold;
    font-size: 30px;
    
    background-color: #B2EB14;
    border-radius: 10px;
    padding: 5px;
}

#myProf {
    text-align: left;
    font-family: var(--letra-400);
    color: var(--color-100);
    font-size: 100px;
}

.flexBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 693px;
    height: 98px;
    gap: 100px;

}

.link {
    text-decoration: none;
    color: var(--color-400);
}

.btn-Prof {
    width: 250px;
    height: 98px;
    font-family: var(--letra-400);
    
    font-size: 40px;
    background-color: var(--color-100);
    border: none;
    border-radius: 100px;
    align-self: center;
}

.imgEdit {
   position: absolute; 
   top: 210px; 
  
   right: 190px; 
   width: 50px; 
   height: 50px; 
   cursor: pointer;
   transition: all 0.6 ease-in;

}

.imgEdit:hover{
  background-color: var(--color-200);
  border-radius: 50%;
  transform:scale(1.1)
}

.wrapperTooltip{
  

}



.tooltiptext {
   position: absolute;
   top: 260px; 
   right: 150px; 
   
  visibility: hidden; 
  width: 130px;
  
  font-family: var(--letra-200);
  color: var(--color-100);
  text-align: center;
  font-size: 15px;
 
  border-radius: 6px;

  background-color: var(--color-200);
  
}

.wrapperTooltip:hover .tooltiptext {
  visibility: visible;
}
