:root {

    --color-100: #1D2984;
    --color-200: #B2EB14;
    --color-300: #504AF4;
    --color-400: #FAFAF1;
    --color-500: #AFC5F4;
    --color-600: #000000;
    --letra-100: 'agains_modern_football', agains_modern_football;
    --letra-200: 'Monserrat', Monserrat;
    --letra-300: 'PRIMETIME', PRIMETIME;
    --letra-400: 'Staatliches-Regular', Staatliches-Regular;
}

@font-face {
    font-family: "agains_modern_football";
    src: url(/fonts/against_modern_football.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Staatliches-Regular";
    src: url(/fonts/Staatliches-Regular.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Monserrat";
    src: url(/fonts/Monserrat.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "PRIMETIME";
    src: url(/fonts/PRIMETIME.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-image: url("/Image/fondo-icon.png");

    background-position: center;

}

.img-top-hd{
    text-align: center;
}

.img-barraCOD{
    width: 100%;
    height: 100%;
   
}

.titulo-events{
    font-family: var(--letra-400);
    font-size:90px ;
    color: #504AF4;
    margin-left: 100px;
    width: 600px;
    height: 120px;
    text-align: center
}

.my-event-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 100px 50px 100px;
}

.section-event{
   
    background-image: url(/Image/container-textCard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px;
    width: 600px;
    height: 300px;

    display: grid;
    justify-content: center;
    align-items:center ;
   
}

.event{
    color: #B2EB14;
    font-family: var(--letra-400);
    font-size: 35px;
    height: 300px;
    width: 516px;
    height: 40px;
    text-align: center
}

.content{
    font-family: var(--letra-200);
    font-size: 20px;
    color: #1D2984;
    text-align: center;
     width: 520px;
    height: 72px;
}

.hora-time{
    display: flex;
    align-content: center;
    justify-content: left;
    gap: 60px;
    text-align: center;
    width: 520px;
    height: 24px;
    margin: 30px 0px 0px 0px;
}

input{
    border: none;
    background-color: transparent;
    
}

.iEvent{
    font-family: var(--letra-200);
    color: #1D2984;
}

/*ESTE ES EL BOOKMARK*/
.custom-check input {
    display: none;
}

.checkmark {
    width: 84px;
    height: 84px;
    background-image: url(/icons/icon-noCheck.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin:20px;
    

}

.checkmark::after {
    content: "";
    position: absolute;
    left: 35px;
    top: 25px;
    width: 15px;
    height: 30px;
    border-right: 4px solid #5b5be6;
    border-bottom: 4px solid #5b5be6;
    transform: rotate(45deg);
    opacity: 0;
    transition: 0.2s ease;


   
}


.custom-check input:checked + .checkmark {
    background-color: rgba(91,91,230,0.15);
}

.custom-check input:checked + .checkmark::after {
    opacity: 1;
}




/*ESTE ES EL BOOKMARK*/
.bookmark-toggle input {
    display: none;
}

.bookmark-icon {
    width: 90px;
    height: 90px;
    background-image: url(/icons/icon-save.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    



    transition: 0.25s ease;
}

.bookmark-icon::after {
    content: "";
    position: absolute;
    left: 38px;
    top: 25px;
    width: 15px;
    height: 30px;
    border-right: 4px solid #504AF4;
    border-bottom: 4px solid #504AF4;
    transform: rotate(45deg);

    opacity: 0;
    transition: 0.2s ease;

    
}

.bookmark-toggle input:checked + .bookmark-icon {
    background-color: rgba(91,91,230,0.15);
}

.bookmark-toggle input:checked + .bookmark-icon::after {
    opacity: 1;
}
