:root {

    --color-100: #1D2984;
    --color-200: #B2EB14;
    --color-300: #504AF4;
    --color-400: #FAFAF1;
    --color-500: #AFC5F4;
    --color-600: #000000;
    --letra-100: 'agains_modern_football', agains_modern_football;
    --letra-200: 'Monserrat', Monserrat;
    --letra-300: 'PRIMETIME', PRIMETIME;
    --letra-400: 'Staatliches-Regular', Staatliches-Regular;
}

@font-face {
    font-family: "agains_modern_football";
    src: url(/fonts/against_modern_football.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Staatliches-Regular";
    src: url(/fonts/Staatliches-Regular.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Monserrat";
    src: url(/fonts/Monserrat.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "PRIMETIME";
    src: url(/fonts/PRIMETIME.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

background-image: url("/Image/fondo-icon.png");

background-position: center;
background-repeat: repeat;
background-size: 40%;
overflow: hidden;
background-color: var(--color-400);
}


.login-card{
    background-color: var(--color-500);
    padding: 5% 8% 5% 8%;
    border-radius: 10%;
    box-shadow:3px 3px 10px var(--color-600);
}

.login-title{
    font-family: var(--letra-400);
    text-align: center;
    color: var(--color-100);
    font-size: 5vh;
}


.text-center{
   
}

.btn-class{
    border-radius: 10%;
}

.login-label{
    font-family: var(--letra-400);
    color: var(--color-100);
    font-size: 3vh;
}

.login-input{
    font-family: var(--letra-200);
    color: var(--color-400);
    background-color: var(--color-100);
}

.register-text{
    font-family: var(--letra-200);
    color: var(--color-400);

    font-weight: bold;
    
}

.register-link{
    font-family: var(--letra-200);
    text-decoration: none;
    color: var(--color-100);
    font-weight: bold;
    
}

.login-btn{

    font-family: var(--letra-400);
    text-align: center;
    text-decoration: none;
    color: var(--color-100);
    background-color: var(--color-400);
    border: none;
    border-radius: 10px;
    padding: 2% 5% 2% 5%;
    font-size: 2.5vh;
}