:root {

    --color-100: #1D2984;
    --color-200: #B2EB14;
    --color-300: #504AF4;
    --color-400: #FAFAF1;
    --color-500: #AFC5F4;
    --color-600: #000000;
    --letra-100: 'agains_modern_football', agains_modern_football;
    --letra-200: 'Monserrat', Monserrat;
    --letra-300: 'PRIMETIME', PRIMETIME;
    --letra-400: 'Staatliches-Regular', Staatliches-Regular;
}

@font-face {
    font-family: "agains_modern_football";
    src: url(/fonts/against_modern_football.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Staatliches-Regular";
    src: url(/fonts/Staatliches-Regular.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Monserrat";
    src: url(/fonts/Monserrat.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "PRIMETIME";
    src: url(/fonts/PRIMETIME.ttf)format("truetype")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    
    background-image: url("/Image/fondo-icon.png");

    background-position: center;
    overflow: hidden;

}

.chatConteiner{
    display: flex;
   
}

.wrapperFirst{
    display: grid;
    
    justify-content: center;
   
    width: 600px;
    height: 800px;
    background-color: var(--color-200);
    overflow-y: auto;
    
}

.conteinerChats{
    margin: 20px;
    height: 100%;
    
}



.chatUser{
display: flex;
align-items: center;
justify-content: left;
background-color: var(--color-400);
width: 540px;
height: 124px;
border-radius: 15px;
box-shadow: 0px 0px 10px #000000;
margin: 10px;
padding: 10px;
}

.content{
    display: grid;
    justify-content: left;
    align-items: center;
    margin: 10px;
    gap: 15px;
}

.lChat{
    width: 309px;
    height: 40px;
    background-color: transparent;
    border-radius: 15px;
    padding: 15px;
    border: none;
    outline: none;

    font-family: var(--letra-200);
    font-size: 18px;
    color: var(--color-100)
}

.iChat{
    width: 309px;
    height: 40px;
    background-color: var(--color-100);
    border-radius: 15px;
    padding: 15px;
    border: none;
    outline: none;

    font-family: var(--letra-200);
    font-size: 18px;
    color: var(--color-400)
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


/*/** Segunda mitad */


.wrapperSecond{
    display: grid;
    
    width: 930px;
    height: 100vh;
    overflow: auto;
    
}

.headerChat{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content:left ;
    padding: 30px;
    width: 980px;
    height: 124px;
    gap: 20px;

    background-color: var(--color-400);
    box-shadow:  100px 10px 20px #2c2b2b;
    
}

.iUser{
    border: none;
    background-color: transparent;
    font-family: var(--letra-200);
    font-size: 32px;
    color: var(--color-100);
    width: 462px;
}



.message{
   
    
}


.userDialogs{
    
   display: grid;
   align-items: start;
   gap: 10px;
  
   padding: 20px;
   
   
   margin-top: 140px; 
   margin-bottom: 300px;
   
   
}

.userOne{
    
    display: grid;
    justify-content: right;
    align-items: center;
    padding: 20px;
    
    
    
}

.userTwo{
    display: grid;
    justify-content: left;
     padding: 20px;
  
    
}

.lUserName{
    font-family: var(--color-200);
    font-size: 20px;
    color:var(--color-100);
}

.iTextChat{
    font-family: var(--color-200);
    font-size: 20px;
    color:var(--color-100);
   
    background-image: url(/Image/bubble-chat.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 500px;
    height: 150px;
    padding: 30px;

    border-radius: 25px;
    border: none;
    
}


.sendMessage{
    position: fixed;
    top: 580px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-100);
    width: 770px;
    height: 110px;
    border-radius: 80px;
}


.btnSend{
    background-color: transparent;
    border: none;
}

.iDoc {
  background-image: url(/icons/icon-compartir.png);
  background-size: cover;
  width: 80px;
  height: 80px;
  display: inline-block;
  cursor: pointer;
}

.hiddenFile {
  display: none;
}


.imessage{
    width: 527px;
    height: 57px;

    background-color: transparent;
    border: none;
    outline: none;

    font-family: var(--letra-200);
    color: var(--color-400);
    font-size: 20px;

    padding: 20px;
}

.imgSend{
    width: 80px;
    height: 80px;
}



